nav {
    /*background: rgba(245, 245, 245, 0.95);*/
    background: #FFFFFF;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin:0;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    list-style: none;
    height: 50px;
}
nav ul li div{
    background:#00B9FF; 
    width:5px;
    height: 50px;
    float: left
}
/*nav ul li div:hover {
    background: #F0F0F0;
}*/
nav ul li span{
    float: left
}
nav ul hr{
    margin-top: 0px;margin-bottom: 0px
}
nav ul li:hover {
    background: #F0F0F0;
    width: 200px;
    height: 50px;
}
nav ul li a {
    position: absolute;
    width: 140px;
    height: 40px;
    text-decoration: none;
    color: #555;
    padding: 10px 0 0 60px;
}
nav ul li a:hover {
    color: #333333;
    text-decoration: none;
}
nav ul li a:focus {
    outline: none;
    text-decoration: none;
}
.store {
    /*background: #b3c833;*/
    width: 200px;
    height: 50px;
    margin-bottom: px;
}

.movies {
    /*background: #ce5043;*/
    width: 200px;
    height: 50px;
    margin-bottom: px;
}

.music {
    /*background: #fb8521;*/
    width: 200px;
    height: 50px;
    margin-bottom: px;
}

.books {
    /*background: #1aa1e1;*/
    width: 200px;
    height: 50px;
    margin-bottom: px;
}

.magazines {
    /*background: #5e5ca6;*/
    width: 200px;
    height: 50px;
    margin-bottom: px;
}

.devices {
    /*background: #658092;*/
    width: 200px;
    height: 50px;
    margin-bottom: px;
}

.store-icon {
    position: absolute;
    margin-left: 7px;
}
.store-icon:before {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    content: url("../img/myOrder.png");
}

.movies-icon {
    position: absolute;
    margin-left: 7px;
}
.movies-icon:before {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    content: url("../img/myFile.png");
}

.music-icon {
    position: absolute;
    margin-left: 7px;
}
.music-icon:before {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    content: url("../img/terminalStatue.png");
}

.books-icon {
    position: absolute;
    margin-left: 7px;
}
.books-icon:before {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    content: url("../img/contract.png");
}

.magazines-icon {
    position: absolute;
    margin-left: 7px;
}
.magazines-icon:before {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    content: url("../img/personCenter.png");
}

.devices-icon {
    position: absolute;
    margin-left: 20px;
    padding-top: 10px;
}
.devices-icon:before {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAa0lEQVRIx2P4//8/Az0wusCC/5SDBAYowGcRVQDRFjGQCciyiBxfjFo0ci0C5TkBAqmQKhYZEKHmA8UWwdQQka9GLRq1aNSiUYtItYjYqpsii4gAB3BZhFyi47PoApEWgUplBShNVulNMwwA8TkerCj0FuMAAAAASUVORK5CYII=");
}

body {
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
