@charset "utf-8";
/* CSS Document */
.uploadify-button{
	display:inline-block;
	line-height:24px;
	border-radius:12px;
	padding-left:17px ;
	padding-right:10px;
        font-size:12px;
        font-weight: 600;
        font-family: '微软雅黑';
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
        float: left;     	
}
.uploadfile{
	width:0;
	}
.uploadify-queue .uploadify-queue-item{
	list-style-type:none;
	margin-top:10px;
        width: 350px;
        height: 40px;
	}
.uploadbtn,.delfilebtn{
	display:inline-block;
	border:1px solid #999;
	line-height:24px;
	border-radius:4px;
	padding:0 18px;
        font-size:12px;
	color:#666;
	cursor:pointer;
	text-decoration:none;
	}
.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent{
	font-size:12px;
	color:#666;
	margin-left:10px;
        margin-top: 5px;
	}
        .up_filename{
            float:left;
            cursor: pointer;
        }
        .up_percent{
           float:right;
           margin-right: 10px; 
           color:#73c437;
        }
        .up_filename{
            width: 60%;
            word-break:keep-all;/* 不换行 */
            white-space:nowrap;/* 强制在同一行内显示所有文本，直到文本结束或者遭遇 br 对象。不换行 */
            overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
            text-overflow:ellipsis;/* IE 专有属性，当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
            margin-left: 15px;
        }
.uploadify-progress{
	 display:inline-block; 
	 width:95%; 
	 height:10px; 
	 background-color:white;
	 border:2px #BCE774 solid;
	 vertical-align:middle;
	 padding:0;
         margin-left: 14px;
         
	 }
.uploadify-progress-bar{
	width:0;
	height:100%;
	background-color:#73c437;
	}
        hr{
            border-color:#E5E5E5;
            width: 93%;
            height: 1px;
            margin-top: 10px;
            margin-bottom: -7px;
        }
        #remind{
            color:#9d9d9d;
            letter-spacing: 3px;
            text-indent: 2em;
            line-height:22px;
            font-size:15px;
            margin: 10px;
        }
        
       